@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

.bg-color {
  background-color: var(--yellow-bg-color);
}

.upp {
  text-transform: uppercase;
  font-weight: 500;
}

.bg-filter {
  background-color: var(--turquoise-bg-color);
  border-radius: 5px;
}
.title-font {
  font-family: "Saira Stencil One", cursive;
  font-size: 50px;
}
