@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

.bg-color {
  background-color: var(--main-bg-color);
}

.upp {
  text-transform: uppercase;
  font-weight: 500;
}

.title-font {
  font-family: "Saira Stencil One", cursive;
  font-size: 50px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}

ul > * {
  flex-grow: 1;
  flex-basis: 0;
}

.pointer-logo {
  max-height: 65px;
}