.map {
  height: 65vh;
  width: 65vh;
  margin: auto;
}
@media only screen and (min-width: 429px) {
  .map {
    height: 60vh;
    width: 60vh;
  }
}

@media only screen and (min-width: 769px) {
  .map {
    height: 80vh;
    width: 80vh;
  }
}
