.map {
  height: 65vh;
  width: 65vh;
  margin: auto;

}
@media only screen and (min-width: 429px) {
  .map {
    height: 350px;
    width: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .map {
    height: 350px;
    width: 350px;
  }
}
@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
  .map {
    height: 660px;
    width: 600px;
  }
}
@media only screen and (min-width: 1440px) {
  .map {
    position: relative;
    left: 60px;
    height: 660px;
  }
}
@media only screen and (min-width: 1536px) {
  .map {
    position: relative;
    left: 37px;
    height: 660px;
  }
}
@media only screen and (min-width: 1920px) {
  .map {
    position: absolute;
    left: -21px;
    height: 660px;
  }
}
@media only screen and (min-width: 2560px) {
  .map {
    position: absolute;
    left: -50px;
    height: 660px;
  }
}