.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  background-color: #57e0b2;
  padding: 10px;
}
.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px 0 10px;
  background-color: #57e0b2;
}
.tag {
  background-color: #57e0b2;
  border: solid black 1px;
  border-radius: 17px;
  padding: 5px 10px;
  margin: 5px;
}
.selectedtag {
  background-color: #fdeb6c;
}
