@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  background-color: var(--turquoise-bg-color);
  padding: 10px;
  font-family: var(--main-font);
}
.filter-title {
  font-size: 23px;
  background-color: var(--turquoise-bg-color);
  border: none;
}
.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 10px 0 10px;
  background-color: var(--turquoise-bg-color);
}
.tag {
  background-color: var(--turquoise-bg-color);
  border: solid black 1px;
  border-radius: 17px;
  padding: 5px 10px;
  margin: 5px;
}
.selectedtag {
  background-color: var(--yellow-bg-color);
}
.main-filters-container {
  display: flex;
  flex-direction: column;
  background-color: var(--turquoise-bg-color);
  width: 50%;
  font-family: var(--main-font);
  font-size: 20px;
}
/* .p-yellow-hover {
  margin: 0;
  padding: 5px 0 5px 20px;
} */
a {
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 769px) {
  .p-yellow-hover:hover {
    background-color: var(--yellow-bg-color);
    /* margin-left: -10px;
    margin: 0; */
  }
}
