<div class="container">
    <h3 *ngIf="name"> {{ name }}</h3>
    <p *ngIf="address"> {{ address }}, {{ postalCode }} {{ locality }}</p>
    <a mat-raised-button *ngIf="info_url" href="{{ info_url }}" target="_blank">Link</a>

    <button mat-raised-button color="primary" (click)="openTemplateSheetMenu()">more details</button>
</div>



<ng-template let-bottomSheetRef="bottomSheetRef" #templateBottomSheet>
    <div class="card">


        <img src="https://media.routard.com/image/68/0/helsinki.1524680.w630.jpg" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title" *ngIf="name">{{ name }}</h2>
            <p *ngIf="address"> {{ address }}, {{ postalCode }} {{ locality }}</p>
            <p class="card-text" *ngIf="intro">{{ intro }}</p>
            <a mat-raised-button *ngIf="info_url" href="{{ info_url }}" target="_blank">Link</a>




        </div>

    </div>

</ng-template>