.header {
  grid-area: header;
}
.filter {
  grid-area: filter;
}
.map {
  grid-area: map;
}
.list {
  grid-area: list;
}
.footer {
  grid-area: footer;
}
.page-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "filter"
    "top"
    "list"
    "map"
    "footer";
}
.top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.top > * {
  flex: 1;
  padding-left: 4rem;
  margin: 0;
}
.icon {
  padding-left: 0.5rem;
}
.lightblue {
  background-color: lightblue;
}
@media only screen and (min-width: 429px) {
  .page-container {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "filter filter"
      "list map"
      "footer footer";
  }
}
@media only screen and (min-width: 769px) {
  .page-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "filter filter filter"
      "list list map"
      "footer footer footer";
      
  }
  @media only screen and (min-width: 1400px) {
    .page-container {
    background-image: url(../assets/helsinki.jpg);
  }
  .map {
    position: relative;
    right: 300px;
  }
  }
}
