img {
  max-width: 100%;
  padding: 1rem;
}
#tags {
  padding-top: 0.1rem;
  line-height: 0.5rem;
}

.distance-in-list {
  text-align: right;
  font-size: smaller;
  color: gray;
  vertical-align: middle;
}

table {
  width: 100%;
}

.accordion-button {
  max-height: 4rem;
  padding-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .list {
    width: 425px
  }
}
@media only screen and (min-width: 1024px) {
  .list {
    width: 425px
  }
}
@media only screen and (min-width: 1440px) {
  .list {
    width: 350px;
    position: relative;
    left: 250px;
  }
  .panel {
    height: 150px;
  }
}
@media only screen and (min-width: 1536px) {
  .list {
    width: 350px;
    position: relative;
    left: 325px;
  }
}
@media only screen and (min-width: 1920px) {
  .list {
    width: 500px;
    position: relative;
    left: 560px;
  }
}
@media only screen and (min-width: 2560px) {
  .list {
    width: 500px;
    position: relative;
    left: 860px;
  }
}