/* FONTTIKOKEILUT ALKU */

@import url('https://fonts.googleapis.com/css2?family=Glory&family=Noto+Sans&family=Nunito&family=Offside&family=Orienta&display=swap');

/* FONTTIKOKEILUT LOPPU */

.top {
  display: flex;
}
.top> * {
  flex: 1;
  padding-left: 4rem;
}
.icon {
padding-left:0.5rem;
}
img {
  max-width: 100%;
  padding: 1rem;
}
.yellow {
  background-color: #fdeb6c;
}