<div class="flex">
  <div class="list">
    <div *ngFor="let place of places">
      <div *ngFor="let data of place.data | slice: 0:10">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <div *ngFor="let data of place.data"></div>
          <ngb-panel title="{{ data.name.fi }}">
            <ng-template ngbPanelContent>
              <p style="font-weight: bold">
                {{ data.location.address.street_address }}
                {{ data.location.address.postal_code }}
                {{ data.location.address.locality }}
              </p>
              {{ data.description.body }}
              {{ data.description.images }}
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
