img {
  max-width: 100%;
  padding: 1rem;
}
#tags {
  padding-top: 0.1rem;
  line-height: 0.5rem;
}

.distance-in-list {
  text-align: right;
  font-size: smaller;
  color: gray;
  vertical-align: middle;
}

table {
  width: 100%;
}

.accordion-button {
  max-height: 4rem;
  padding-top: 2rem;
}

@media only screen and (min-width: 1400px) {
  .list {
    width: 350px;
    position: relative;
    left: 275px;
  }
  .panel {
    height: 150px;
  }
}
